.c-hero {
    height: 100vh;

    .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        @include mobileMax952p {
            padding-bottom: 100px;
        }
    }

    &__title {
        @include sfns2;
        position: absolute;
        top: 48px;
        right: 64px;
        @include mobileMax952p {
            top: 40px;
            right: 50%;
            transform: translate(50%);
        }
    }

    &__headline {
        width: px_to_vw_desktop(1196);
        height: auto;

        @include mobileMax952p {
            width: 100%
        }
    }

    &__date {
        @include sfns;
        padding-top: px_to_vh_desktop(40);
        padding-bottom: 24px;
    }

    &__leaves {
        @include sfns;
        
    }

    &__photo1 {
        position: absolute;
        z-index: -1;
        width: px_to_vw_desktop(314);
        height: px_to_vw_desktop(370);
        left: px_to_vw_desktop(219); // 226px, convert to vh maybe
        top: px_to_vh_desktop(150); // 218px 

        @include mobileMax952p {
            width: 177px;
            height: 209px;
            left: px_to_vw_tablet(50);
        }

        @include mobileMax768p {
            left: -25px;
            top: 104px;
        }
        
    }
    &__photo2 {
        position: absolute;
        z-index: -1;
        width: px_to_vw_desktop(424);
        height: px_to_vw_desktop(500);
        right: px_to_vw_desktop(140); // 164px
        bottom: px_to_vh_desktop(140); // 189px

        @include mobileMax952p {
            width: 240px;
            height: 284px;  
            right: px_to_vw_tablet(20);
        }

        @include mobileMax768p {
            right: -62px;
            bottom: 90px;
            width: 240px;
        }
    }
}