<section class="c-harmonogram ">
    <div class="container">
        <h2 class='c-harmonogram__title desktop-only'>harmonogram</h2>

        <p class="c-harmonogram__time">14:00</p>
        <a class='c-harmonogram__text' href=''>svatební obřad před stodolou</a>
        <p class="c-harmonogram__time">15:00</p>
        <a class='c-harmonogram__text' href=''>Focení, otevření rautu, zábava</a>
        <p class="c-harmonogram__time">18:00</p>
        <a class='c-harmonogram__text' href=''>přípitky, servírovaná večeře, krájení dortu</a>
        <p class="c-harmonogram__time">22:00</p>
        <a class='c-harmonogram__text' href=''>Party, noční občerstvení</a>

        <p class='c-harmonogram__footer'>© thao & mira, 2023</p>
    </div>
</section>