.c-footer {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;

    @include mobileMax952p {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    &__text {
        @include sfns2Responsive;;
        opacity: 0.5;
        font-weight: 276;
    }
}