<section class="c-location">
    <img class="c-location__backg" src='images/bg/kmin_photo.webp'>
    <div class="container">
        <h2 class="c-location__headline">Penzion<br>na&nbsp;kmíně</h2>
        <a class='c-location__button' href='https://goo.gl/maps/rdFHVGB7p7ymjr2a9'>Ukázat mapu</a>
    </div>
</section>