.c-location {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('images/bg/kmin_photo.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .container {
        overflow: visible;
    }

    &__headline {
        @include BodoniModa;
        margin-bottom: 64px + 18px;
        font-size: 200px;
        line-height: 220px;

        @include windowMax1280p {
            margin-bottom: 58px;
            font-size: px_to_vw_tablet(128);
            line-height: px_to_vw_tablet(142);
        }

        @include mobileMax952p {
            font-size: px_to_vw_mobile(64);
            line-height: px_to_vw_mobile(64);
        }
    }

    &__button {
        @include sfns;
        border-radius: 32px;
        border: 1px solid $white;
        padding: 18px 32px;
    }
}