.c-location {
    height: 100vh;
    
    &__backg {
        z-index: -1;
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .container {
        height: 100%;
        overflow: visible;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    &__headline {
        @include BodoniModa;
        margin-bottom: px_to_vh_desktop(82);
        font-size: px_to_vw_desktop(200);
        line-height: px_to_vw_desktop(220);

        @include mobileMax952p {
            font-size: px_to_vw_mobile(64);
            line-height: px_to_vw_mobile(64);
        }
    }

    &__button {
        @include sfns2Responsive;
        border-radius: 1.777778em;
        border: 1px solid $white;
        padding: 1em 1.777778em;
        transition: 0.15s;

        &:hover {
            color: #5A595B;
            background-color: $white;
        }

    }
}