<section class="c-location">
    <div class="container">
        <h2 class="c-location__headline">Penzion na&nbsp;kmíně</h2>
        <a class='c-location__button' href=''>Ukázat mapu</a>
    </div>
</section>