.c-nav {
    position: fixed;
    top: 0;
    z-index: 1000;
    height: 10vh;

    background: #FFFFFF;
    border-bottom: 1px solid #023D49;

    .container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__headline {
        font-family: "DMSans Regular";
        font-size: 2vw;
        line-height: 125%;
        color: #023D49;

        @include mobileMax952p {
            font-size: 32px;
        }
    }
}