.c-nav {
    position: fixed;
    top: 0;
    z-index: 1000;
    height: 100vh;
    width: auto;
    border-right: 1px solid rgba(255, 255, 255, 0.16);

    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 44px px_to_vw_desktop(40) 64px px_to_vw_desktop(40);
    }

    &__scroll {
        @include sfns3;
        font-weight: 276;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        &__text {
            writing-mode: vertical-lr;
            transform: rotate(180deg);
        }
    }
}